{"http_interactions": [{"request": {"body": {"encoding": "utf-8", "string": ""}, "headers": {"Authorization": "Bearer <TOKEN>"}, "method": "GET", "uri": "https://rozvoj.fit.cvut.cz/evolution-dev/classification-dev/api/v1/public/courses/MI-PYT/group/ALL/student-classifications"}, "response": {"body": {"encoding": null, "string": ""}, "headers": {"seconds-to-session-expiration": "43200"}, "status": {"code": 401, "message": "Unauthorized"}, "url": "https://rozvoj.fit.cvut.cz/evolution-dev/classification-dev/api/v1/public/courses/MI-PYT/group/ALL/student-classifications"}, "recorded_at": "2018-02-05T21:22:59"}], "recorded_with": "betamax/0.8.0"}