{"http_interactions": [{"request": {"body": {"encoding": "utf-8", "string": ""}, "headers": {"Authorization": "Bearer <TOKEN>"}, "method": "GET", "uri": "https://rozvoj.fit.cvut.cz/evolution-dev/classification-dev/api/v1/public/courses/MI-PYT/student-classifications/laskobor"}, "response": {"body": {"encoding": "UTF-8", "string": "{\"username\":\"laskobor\",\"firstName\":\"<FIRST_NAME>\",\"lastName\":\"<LAST_NAME>\",\"fullName\":\"<FIRST_NAME> <LAST_NAME>\",\"email\":\"<EMAIL>\",\"studentClassificationFullDtos\":[{\"id\":3,\"identifier\":\"lab03\",\"courseCode\":\"MI-PYT\",\"semesterCode\":\"B171\",\"calculated\":false,\"expression\":null,\"minimumRequiredValue\":0.0,\"maximumValue\":5.0,\"classificationType\":\"HOMEWORK\",\"valueType\":\"NUMBER\",\"classificationTextDtos\":[{\"identifier\":\"cs\",\"name\":\"\u00daloha Labels 3\"}],\"hidden\":false,\"mandatory\":false,\"index\":4,\"value\":5.0,\"note\":\"1443640\",\"lowercaseIdentifier\":\"lab03\"},{\"id\":7,\"identifier\":\"github\",\"courseCode\":\"MI-PYT\",\"semesterCode\":\"B171\",\"calculated\":false,\"expression\":null,\"minimumRequiredValue\":null,\"maximumValue\":null,\"classificationType\":\"OTHER\",\"valueType\":\"STRING\",\"classificationTextDtos\":[{\"identifier\":\"cs\",\"name\":\"GitHub\"}],\"hidden\":false,\"mandatory\":false,\"index\":0,\"value\":\"145k0v\",\"note\":\"\",\"lowercaseIdentifier\":\"github\"},{\"id\":2,\"identifier\":\"lab02\",\"courseCode\":\"MI-PY[...]
